<footer class="site-footer">
    <div class="footer-container">

        <!-- Sección de Logo -->
        <a class="footer-section logo-section">
            <img src="/img/logo - vertical.png"  alt="Logo Ministerio" class="footer-logo">
        </a>  
        <!-- Sección de Contacto -->
        <div class="footer-section contact-section">
            <h2 class="footer-heading">CONTACTO</h2>
            <ul class="contact-list">
                <li class="contact-item">
                    <i class="fas fa-map-marker-alt"></i>
                    Av. Báez Osorio Leopoldo Navarro, Santo Domingo
                </li>
                <li class="contact-item">
                    <i class="fas fa-phone"></i>
                    (809) 123-4567
                </li>
                <li class="contact-item">
                    <i class="fas fa-envelope"></i>
                    info@mineduc.gob.do
                </li>
            </ul>
        </div>

        <!-- Línea divisoria -->
        <div class="footer-divider"></div>

        <!-- Sección Redes Sociales -->
        <div class="footer-section social-section">
            <h2 class="footer-heading">SÍGUENOS</h2>
            <div class="social-icons">
                <!-- <a href="#" class="social-icon">
                    <i class="fab fa-facebook-f"></i>
                </a> -->
                <a href="https://www.instagram.com/educacionadrd?igsh=cm1ucXV3czN0aHY3" class="social-icon">
                    <i class="fab fa-instagram"></i>
                </a>
                <a href= "https://www.youtube.com/@@EDUCACIONADRD" class="social-icon"/>
                    <i class="fab fa-youtube"></i>
                </a>

                <a href="https://open.spotify.com/episode/2ywMb45l1HWVa13kTzxzA9?si=7ni3a-VCQXW1KiCeNUGvEg" class="social-icon">
                    <i class="fab fa-spotify"></i>
                </a>

                <a href="https://whatsapp.com/channel/0029Vb677MK8vd1YRM9qdo0R" class="social-icon">
                    <i class="fab fa-whatsapp"></i>
                </a>
            </div>
        </div>

        <!-- Sección Derechos -->
        <div class="footer-section copyright-section">
            <p class="copyright-text">
                © 2024 Ministerio de Educación República Dominicana<br>
                <span class="school-name">Escuela Nacional</span>
            </p>
        </div>
    </div>
</footer>