<!-- Views/Shared/_Navbar.cshtml -->
<nav class="navbar navbar-expand-lg navbar-custom">
    <div class="container">
        <!-- Logo -->
        <a class="navbar-brand" asp-controller="Home" asp-action="Index">
            <img src="/img/logo - horizontal.png" alt="Logo Ministerio" class="navbar-logo">
        </a>

		<!-- Botón Hamburguesa-->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
            <span class="navbar-toggler-icon"></span>
		</button>

		<!-- Elementos del Menú-->
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Index">Inicio</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Nosotros" asp-action="Nosotros">Nosotros</a>

                <li class="nav-item">
                    <a class="nav-link" asp-controller="Programas" asp-action="Index">Programas</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" asp-controller="Home" asp-action="Contacto">Contacto</a>
                </li>
            </ul>
		</div> 
    </div>
</nav>