<section class="organigrama-container">
    <div class="organigrama-header">
        <h1>MINISTERIO NACIONAL DE EDUCACIÓN</h1>
        <h2>Organigrama Institucional 2025</h2>
    </div>

  

    <!-- Nivel 1 - Director Nacional -->
    <div class="nivel principal">
        <div class="tarjeta-director">
            <img src="\img\nosotros_directiva\PastorAlfredo.png" alt="Alfredo Ygnacio" class="foto-circular">
            <div class="info-cargo">
                <h3>Director Nacional Ministerio de Educación A.D</h3>
                <p>Alfredo Ygnacio De La Cruz</p>
            </div>
        </div>
    </div>

    <!-- Nivel 2 - Coordinadores -->
    <div class="nivel coordinador">
       
            <div class="contenedor-jerarquico">
                <div class="conexion-vertical"></div>
                <div class="tarjeta-coordinador">
                <img src="/img/\nosotros_directiva/PastorFrankelyGonzalez.png" alt="Frankely Gonzalez" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinador de Escuela Bíblica Dominical</h4>
                        <p>Frankely Gonzalez</p>
                    </div>
				</div>
            </div>

            <div class="contenedor-jerarquico">
                <div class="tarjeta-coordinador">
                <img src="/img/\nosotros_directiva/PastorWilsonTejeda.png" alt="José Tejada" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinador de Institutos Bíblicos</h4>
                        <p>José Tejada (Wilson)</p>
                    </div>
                </div>
            </div>
        </>

        
            <div class="contenedor-jerarquico">
                <div class="tarjeta-coordinador">
                <img src="/img/nosotros_directiva\PastoraXiomara.jpg" alt="Xionarra Polanco" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinadora de Colegios A.D</h4>
                        <p>Xionarra Polanco</p>
                        <div class="programas">
                            <p> Coordinación Nacional de Alfabetización</p>
                            <p> Programa Integral de Educación de las Asambleas de Dios (PIEDAD)</p>
                        </div>
                    </div>
                </div>
            </div>
        
    

       
            <div class="contenedor-jerarquico">
                <div class="tarjeta-coordinador">
                    <!-- Cambiado a clase base -->
                <img src="/img/nosotros_directiva\PastorMiguelOvalle.jpg" alt="Miguel Ovalle" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinador de Discipulado y 
                            Formacion de Lideres Iglesia Local</h4>
                        <p>Miguel Ovalle</p>
                    </div>
                </div>
            </div>

            <div class="contenedor-jerarquico">
                <div class="tarjeta-coordinador">
                    <!-- Cambiado a clase base -->
                <img src="/img/nosotros_directiva\PastorJoseOvalle.png" alt="Josué Ovalle" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinador de Educación a Distancia</h4>
                        <p>Josué Ovalle</p>
                        <div class="programas">
                            <p> ICI</p>
                            <p> MM33 Educativo</p>
                            <p> Diplomados</p>
                            <p> Conferencias</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="contenedor-jerarquico">
                <div class="tarjeta-coordinador">
                    <!-- Cambiado a clase base -->
                <img src="\img\nosotros_directiva\PastorEdwinMercedes.png" alt="Edwin Mercedes" class="foto-circular">
                    <div class="info-cargo">
                        <h4>Coordinador de Educación Superior</h4>
                        <p>Edwin Mercedes</p>
                        <div class="programas">
                            <p> Instituto de Superacion Ministeiral (ISUM)</p>
                            <p> Facultad de Teologia</p>
                        </div>
                    </div>
                </div>
            </div>
           
	</div>
</section>