/* ========== FUENTE GARET ========== */
@font-face {
    font-family: 'Garet';
    src: url('../fonts/garet.woff2') format('woff2'), url('../fonts/garet.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}